:root {
  --primary: blue;
}

.progress-bar {
  height:10px;
  background: var(--primary);
  margin-top: 20px;
  /* background-color: aqua; */
  margin-left: 30px;
  margin-right: 30px;
}

/* var to insert a variable defined before */
